---
const {img} = Astro.props;

---

<article>
    <a href=""><img src={img} alt=""> </a>
</article>

<style>
article {
    border-radius: 10px;
    max-width: 250px;
    overflow: hidden;
  }

</style>